.div1{
    background-color: rgb(255, 0, 251);
   
    padding: 5px;
}
.div2{
    background-color: rgb(0, 255, 26);
    
    padding: 5px;
}
.div3{
    background-color: rgb(255, 0, 0);
    
    padding: 5px;
}
.div4{
    background-color: rgb(72, 0, 255);
    
    padding: 5px;
}
.div5{
    background-color: rgb(40, 7, 102);
   
    padding: 5px;
}
.div6{
    background-color: rgb(43, 0, 255);
   
    padding: 5px;
}
.container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    
   
}
.header{
    background-color: aqua;
    padding: 8px;
}
.menu{
    background-color: blueviolet;
    padding: 8px;
}
.content{
    background-color: brown;
    padding: 8px;
}
.footer{
    background-color:chartreuse;
    padding: 8px;
}

.container1{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;

}
.header{
    grid-column-start: 1;
    grid-column-end: 13;
}
.footer{
    grid-column: 1/-1;
}
.content{
    grid-column: 2/-1 ;
}

.container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 3px;
    grid-auto-flow: dense;
}
.container2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.horizontal{
    grid-column: auto / span 2;

}
.vertical{
    grid-row: auto / span 2;

}
.big{
    grid-column: auto / span 2;
    grid-row: auto / span 2;

}