.header{
    background-color: aqua;
    padding: 8px;
}
.menu{
    background-color: blueviolet;
    padding: 8px;
}
.content{
    background-color: brown;
    padding: 8px;
}
.footer{
    background-color:chartreuse;
    padding: 8px;
}

.container1{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;

}
.header{
    grid-column-start: 1;
    grid-column-end: 13;
}
.footer{
    grid-column: 1/-1;
}
.content{
    grid-column: 2/-1 ;
}
